/* ========================= */
/* RESPONSIVIDADE */
/* ========================= */

@media (max-width: 1024px) {

.topo img {
    left: 5%;
}

.topo div {
    right: 5%;
}

.container-texto p {
    padding: 0 40px;
}

.container-parallax4 iframe {
    width: 90%;
}

.container-contatos {
    width: 90%;
}

.lista-horarios {
    width: 90%;
}

}

@media (max-width: 768px) {

/* MENU */

.topo {
    text-align: center;
    padding-bottom: 10px;
}

.topo img {
    position: static;
    margin: 10px auto;
    display: block;
}

.topo div {
    position: static;
    margin-top: 10px;
}

.topo div a {
    display: inline-block;
    margin: 10px;
    font-size: 16px;
}
/* Container Parallax 1 */
.container-parallax1 {
    background-image: url("./img/parallax-imagem1.jpeg");
    height: 100vh;
/* BANNER */
}
.container-parallax1 h1 {
    font-size: 40px;
    padding: 0 20px;
}

/* PARALLAX TITULOS */

.container-parallax2 h3,
.container-parallax3 h3 {
    width: 90%;
    font-size: 20px;
}

/* MAPA */

.container-parallax4 iframe {
    position: relative;
    top: 20px;
    width: 90%;
    height: 300px;
}

/* CONTATOS */

.container-contatos {
    position: relative;
    width: 90%;
    margin-top: 40px;
}

/* HORÁRIOS */

.container-parallax5 h2 {
    font-size: 22px;
}

.lista-horarios li h3 {
    font-size: 16px;
}

.lista-horarios li p {
    font-size: 14px;
}

/* BOTÃO VOLTAR */

.container-rodape a {
    right: 20px;
    bottom: 60px;
}

}

@media (max-width: 480px) {

/* TITULO PRINCIPAL */

.container-parallax1 h1 {
    font-size: 28px;
}

/* TEXTO */

.container-texto {
    padding: 50px 20px;
}

.container-texto p {
    font-size: 15px;
    line-height: 28px;
}

/* HORÁRIOS */

.lista-horarios {
    font-size: 14px;
}

}


    background-image: url("./img/seta-para-cima.png");
    background-position: center;
    background-size: cover;
    background-color: #c4a47c;
    border-radius: 4px;
}
